.layoutFooter {
  margin-top: 50px;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #00150f;
  color: white;
  padding: 25px;
  width: 100vw;
  margin: 0 auto;
}

.footerLinks {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 60px;
  max-width: 1440px;
  padding-bottom: 30px;
}

.footerLink:hover {
  color: gold;
  text-decoration: underline;
}

.footerLegal {
  text-align: center;
  line-height: 1.75;
}

.footerSocials {
  text-align: center;
}

@media (max-width: 923px) {
  .layoutFooter {
    color: white;
    overflow-x: hidden;
    position: relative;
    top: 0;
    overflow-y: scroll;
    margin: 0;
  }

  .footer {
    background-color: #00150f;
    color: white;
    padding: 25px;
    overflow-x: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

  .footerLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    background-color: #00150f;
    color: white;
    padding: 25px;
    overflow-x: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .footerLink {
    text-align: center;
    width: auto;
  }
}
