@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.homepage-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 4vh;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/stock/stock2.jpg") no-repeat center center/cover;
  transition: opacity 0.5s ease;
  animation: fadeIn 1s ease-in;
  z-index: 0;
}

.homepage-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  animation: fadeIn 1s ease-in;
  color: white;
  margin-top: 4vh;
  z-index: 1;
}

.homepage-hero-title {
  text-align: center;
  text-wrap: pretty;
  width: 80%;
  margin-bottom: auto;
}

.homepage-search-wrapper {
  background-color: #00150f;
  margin-top: 5vh;
  padding: 20px;
  width: 50%;
  border-radius: 12px;
  opacity: 0.8;
}

/* iPad Pro */
/* @media (max-width: 1024px) {
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .images {
    display: none;
  }
  .image {
    height: 600px;
    width: 744px;
    transition: opacity 0.5s ease;
    animation: fadeIn 1s ease-in;
  }
} */

/* iPad Air */
/* @media (max-width: 820px) {
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .images {
    display: none;
  }
  .image {
    height: 400px;
    width: 496px;
    animation: fadeIn 1s ease-in;
  }
} */

/* @media (max-width: 450px) {
  .images {
    display: none;
  }
  .img-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .quote {
    padding: 10px;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .image {
    height: 250px;
    width: 310px;
    animation: fadeIn 1s ease-in;
  }
} */
