@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.svg-wrapper {
  position: relative;
  overflow: hidden;
}

.svg {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .images {
    display: none;
  }
  .image {
    height: 600px;
    width: 744px;
    transition: opacity 0.5s ease;
    animation: fadeIn 1s ease-in;
  }
}

/* iPad Air */
@media (max-width: 820px) {
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .images {
    display: none;
  }
  .image {
    height: 400px;
    width: 496px;
    animation: fadeIn 1s ease-in;
  }
}

@media (max-width: 450px) {
  .images {
    display: none;
  }
  .img-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .quote {
    padding: 10px;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .carousel {
    display: block;
    margin-top: 4vh;
  }
  .image {
    height: 250px;
    width: 310px;
    animation: fadeIn 1s ease-in;
  }
}
