@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

.homepage-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin: 4vh auto 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/stock/stock2.jpg") no-repeat center center/cover;
  transition: opacity 0.5s ease;
  animation: fadeIn 1s ease-in;
  z-index: 0;
}

.homepage-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  animation: fadeIn 1s ease-in;
  color: white;
  margin-top: 4vh;
  z-index: 1;
  max-width: 1440px;
}

.homepage-hero-title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0 auto;
  padding: 20px;
}

.homepage-search-wrapper {
  max-width: 1440px;
  background-color: #00150f;
  margin-top: 5vh;
  padding: 20px;
  width: 40%;
  border-radius: 12px;
  opacity: 0.8;
}

.homepage-statement-wrapper {
  display: flex;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 50px;

  h2 {
    text-align: center;
    text-wrap: pretty;
    line-height: 40px;
  }
}

.homepage-divider-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 4vh;
  overflow-x: hidden;
  background: url("../../../assets/stock/stock1.jpg") no-repeat center
    center/cover;
  transition: opacity 0.5s ease;
  animation: fadeIn 1s ease-in;
  z-index: 0;
}

@media screen and (max-width: 430px) {
  .header-wrapper {
    width: 100vw;
    height: 100px;
    padding: 0px 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00150f;
    z-index: 2;
  }

  .header-navigation {
    display: none;
  }

  .header-logo-image {
    width: auto;
    height: 80%;
    aspect-ratio: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .homepage-hero-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 auto;
    padding: 20px;
  }

  .homepage-search-wrapper {
    background-color: #00150f;
    margin-top: 5vh;
    padding: 20px;
    width: 90%;
    border-radius: 12px;
    opacity: 0.8;
  }

  .homepage-divider-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: auto;
    width: 100vw;
    height: 50vh;
    margin-top: 4vh;
    overflow-x: hidden;
    background: url("../../../assets/stock/stock1.jpg") no-repeat center
      center/cover;
    transition: opacity 0.5s ease;
    animation: fadeIn 1s ease-in;
    z-index: 0;
  }
}
