.latest-jobs-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 1440px;
}

.latest-jobs-wrapper-title {
  width: 100%;
  color: #00150f;
  margin: 4% 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.latest-jobs-wrapper-title:hover {
  cursor: pointer;
}

.latest-jobs-wrapper {
  display: flex;
  gap: 5%;
  width: 100%;
  height: 40vh;
  margin-bottom: 2vh;
}

.latest-job-card {
  width: 15%;
  height: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: left;
  color: #00150f;
  transition: background-color 0.5s ease;
}

.latest-job-card:hover {
  cursor: pointer;
  background-color: #00150f;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 10px 0 gold;
  color: white;

  .latest-job-hr {
    border-color: gold;
    width: 70%;
    margin: 15px 0;
  }
}

.latest-job-role-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: auto;
}

.latest-job-footer-wrapper {
  margin-top: auto;
}

.latest-job-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latest-job-hr {
  border-color: #00150f;
  width: 70%;
  margin: 15px 0;
}

@media screen and (max-width: 430px) {
  .latest-jobs-container-wrapper {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }

  .latest-jobs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 5vh;
  }

  .latest-jobs-wrapper-title {
    width: 90vw;
    color: #00150f;
    margin: 4% 6%;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .latest-job-card {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    color: #00150f;
    transition: background-color 0.5s ease;
  }
}
