.jobDetailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 3.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.jobDetailsText {
  font-size: 16px !important;
}

.jobLocationIcon {
  transform: rotate(315deg);
}
