.login-wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  height: 20%;
  width: auto;
  aspect-ratio: auto;
  margin-bottom: 200px;
}

.login-image:hover {
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form-error {
  text-align: center;
  color: red;
  font-size: 1rem;
  margin-bottom: auto;
}

.login-form-text-input {
  width: 300px !important;
  padding: 1rem !important;
}

@media screen and (max-width: 320px) {
  .login-form-text-input {
    width: 200px !important;
    padding: 1rem !important;
  }
}
