.login-wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-image {
  height: auto;
  width: 50%;
  aspect-ratio: auto;
  margin-bottom: auto;
}

.login-image:hover {
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  width: 100%;
}

.login-form-error {
  text-align: center;
  color: red;
  font-size: 1rem;
  margin-bottom: auto;
}

.login-form-submit {
  .ant-btn-primary {
    background-color: #00150f;
  }
  .ant-btn-primary:hover {
    background-color: #00150f !important;
    color: gold !important;
  }
}
