.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  li {
    list-style-type: none;
  }
}

.navbar-sub {
  display: none;
}

.navbar-name:hover + .navbar-sub,
.navbar-sub:hover {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  background-color: #00150f;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 1px 10px -3px gold;
  border: 1px solid gold;
  z-index: 2;
  margin-top: 0.5rem;
}

.navbar-sub:hover p:hover {
  cursor: pointer;
}

@media (max-width: 1480px) {
  .header-nav ul {
    display: none;
  }
}
