.footer {
  background-color: #00150f;
  color: white;
  padding: 25px;
  width: 100vw;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  gap: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}

.footer-legal {
  text-align: center;
  line-height: 1.75;
}

.footer-socials {
  text-align: center;
}

@media (max-width: 923px) {
  .footer {
    background-color: #00150f;
    color: white;
    padding: 25px;
    overflow-x: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

  .footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    background-color: #00150f;
    color: white;
    padding: 25px;
    overflow-x: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .footer-link {
      text-align: center;
      width: auto;
    }
  }
}
