.updatePasswordWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.updatePasswordImage {
  height: 20%;
  width: auto;
  aspect-ratio: auto;
  margin-bottom: 200px;
}

.updatePasswordImage:hover {
  cursor: pointer;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.updatePasswordFormInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.updatePasswordFormError {
  text-align: center;
  color: red;
  font-size: 1rem;
  margin-bottom: auto;
}

.updatePasswordFormTextInput {
  width: 300px !important;
  padding: 1rem !important;
}

@media screen and (max-width: 320px) {
  .updatePasswordFormTextInput {
    width: 200px !important;
    padding: 1rem !important;
  }
}
