.hamburgerContainer {
  display: none;
}

@media screen and (max-width: 986px) {
  .hamburgerContainer {
    display: inline-flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-shrink: 0; */
  }

  .hamburgerBar {
    width: 40px;
    height: 4px;
    background: gold;
    transition: 0.4s;
  }

  .hamburgerBar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 9px);
  }

  .hamburgerBar.open:nth-child(2) {
    opacity: 0;
  }

  .hamburgerBar.open:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -9px);
  }
}
