.job-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 3.5rem;
}

.job-details-text {
  font-size: 16px !important;
}
