.jobCard {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 30px;
  color: #00150f;
  transition: background-color 0.5s ease;
}

.jobCard:hover {
  cursor: pointer;
  background-color: #00150f;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 10px 0 gold;
  color: white;
}

.jobCard:hover .jobHr {
  border-color: gold;
  width: 70%;
  margin: 15px 0;
}

.jobRoleName {
  font-size: 1.5rem;
  font-weight: bold;
}

.jobLocationIcon {
  transform: rotate(315deg);
}

.jobCardPosted {
  margin-bottom: auto;
}

.jobFooterWrapper {
  margin-top: auto;
}

.jobDescription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobActions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

@media screen and (max-width: 430px) {
  .jobCard {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    color: #00150f;
    transition: background-color 0.5s ease;
  }
}
