.jobs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
}

.jobs-filters-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-top: 100px;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.jobs-pagination {
  margin: 100px 0;
}

.jobs-filters {
  display: flex;
  gap: 50px;
}

.filters-select {
  width: 450px;
}

.filters-select-option {
  display: flex;
  justify-content: space-between;
}
