.jobsFilters {
  display: flex;
  gap: 50px;
}

.filtersSelect {
  width: 450px;
}

.filtersSelectOption {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 877px) {
  .jobsFilters {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
